/* body{
  text-align: center;
  background-color: #282c34;
  margin-block-start: 20%;
  color: aliceblue;
}

button{
  background-color: rgb(5, 91, 30);
  width: 90px;
  height: 30px;
  border-radius: 48px;
  border: 2px solid;

}
button :hover{
  background-size: 50%;
  width: 88px;
}

.h1style{
  background-color: rgb(5, 91, 30);
  width: 34%;
  margin-left: 34%;
  border-radius: 48px;
  border: 2px solid;
  
}

.btnInner{
  background-color: rgb(220, 135, 8);
  width: 80px;
  height: 30px;
  border-radius: 48px;
  border: 2px solid;
  margin-left: 05%;

}

.dataStyles{
  background-color: aqua;
} */

body {
  background-color: #b3e5fc;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}
h2 {
  text-align: center;
  margin: 20px 0;
}
.textLeft {
  text-align: left;
}
.loadingDiv {
  height: 100vh;
  display: grid;
  place-items: center;
}
.card {
  width: 450px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  margin: auto;
}
.image {
  min-width: 155px;
  margin-right: 20px;
}
.stats {
  background: #f2f5f8 !important;
  color: #000 !important;
}
.articles {
  font-size: 10px;
  color: #a1aab9;
}
.number1 {
  font-weight: 500;
}
.followers {
  font-size: 10px;
  color: #a1aab9;
}
.number2 {
  font-weight: 500;
}
.rating {
  font-size: 10px;
  color: #a1aab9;
}
.number3 {
  font-weight: 500;
}